*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background: #09042a;
  position: relative;
}
.a,
.a::after {
  width: 62px;
  height: 62px;
  position: absolute;
  top: 48px;
  left: 152px;
  border: 10px solid #09042a;

  border-radius: 999px;
  background: #f5bb9c;
  z-index: 10;
}
.a::after {
  content: '';
  top: 98px;
  left: -10px;
}
.b,
.b::after,
.b::before {
  position: absolute;
  width: 60px;
  height: 60px;
  border: 10px solid #e78481;
  border-radius: 9999px;
  top: 102px;
  left: 91px;
}
.b::after {
  content: '';
  top: -10px;
  left: 110px;
}
.b::before {
  content: '';
  border: 0;
  width: 52px;
  border-radius: 0;
  height: 60px;
  background: #e78481;
  top: -1px;
  left: 62px;
}
